/* __________общие штуки______________ */

body {
    background-color: #181E34;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;

}

.container {
    max-width: 930px;
    max-height: 100%;
    margin: 0 auto;
    padding: 0px 15px;
}

/* _________________Хэдэр________________________ */

.header {
    padding: 30px 0px 36px;
}

.inner {
    display: flex;
    align-items: center;
}

.nav-header {
    margin-left: auto;
    display: flex;
}

.header-text {
    margin: 15px;
}

.button-enter {
    padding: 14px 30px;
    border-radius: 100px;
    color: #2766AE;
    font-weight: 500;
    background-color: #fff;
    margin: 15px;
}

/* __________________Мейн_________________________ */
/* _______________первая секция__________________ */

.section-1 {
    background: url(../img/body-background.jpg) 20% 50% / cover no-repeat;
    width: auto;
    height: 508px;
    padding: 120px 0px;
}

.title-1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 60px;
}

.parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.text-s {
    max-width: 436px;
    line-height: 25px;
    margin-bottom: 15px;
}
.text-s-2 {
    max-width: 436px;
    line-height: 25px;
}

.text-s span {
    text-transform: uppercase;
    color: #01A2CB;
    font-weight: 700;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    text-align: center;
}

.button-1,
.button-2 {
    border-radius: 100px;
    padding: 18px 30px;
}
.button-1 {
    background: linear-gradient(180deg,#00A4CC 0%, #2766AE 100%);
}

.button-2 {
    background: linear-gradient(90deg,#00A4CC 6%, #2766AE 56%);
}

.margin-bottom {
    margin-bottom: 10px;
}

/* _______________вторая секция__________________ */

.section-2 {
    display: flex;
    text-align: center;
    margin-top: 128px;
}


.title-2 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 15px;
}

.some-text {
    /* width: 100%;
    max-width: 513px; */
    line-height: 25px;
    margin-bottom: 60px;
}

.parent-2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 60px 0px 30px;
}

.title-child {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.child {
    padding: 28px;
    text-align: center;
    border-radius: 16px;
    border: 2px solid #176BAE;
    background: #197CB8;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    margin: 0px 16px 16px 0px;
    line-height: 25px;
}

.button-s-2-1 {
    background: linear-gradient(180deg,#00A4CC 0%, #2766AE 100%);
    border-radius: 100px;
    padding: 18px 30px;
    width: 100%;
    max-width: 436px;
    margin: 20px 0px 120px;
}

/* ___________________Футер_________________________ */

.footer {
    border-top: 1px solid #323952;
}

.inner-2 {
    width: 100%;
    height: 100%;
    max-width: 811px;
    max-height: 361px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px 0px 60px;
}

.logo {
    margin-bottom: 30px;
}
.inner-footer-text {
    margin-right: 150px;
}


.some-text-2 {
    width: 100%;
    max-width: 267px;
    line-height: 25px;
}

.title-inner-footer {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.first-item,
.second-item {
    padding: 10px;
    margin-bottom: 60px;
    line-height: 35px;
}

.first-item {
    margin-right: 30px;
}

.second-item {
    margin-left: 47px;
}


