* {
    box-sizing: border-box;
}

.heading {
    margin-top: 60px;
}

.block1 {
    padding: 50px;
    margin: 50px;
    background-color: blueviolet;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 1000px;
}

.block2 {
    padding: 30px;
    margin-top: -50px;
    background-color: #e2ba2b;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 1000px;
}

.block3 {
    padding: 90px;
    margin-left: 500px;
    background-color: blueviolet;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 1000px;
}
