* {
    box-sizing: border-box;
}


.block1 {
    padding: 50px;
    background-color: blueviolet;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 1000px;
}

.block2 {
    padding: 10px 30px;
    background-color: #e2ba2b;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 1000px;
}

.block3 {
    padding: 90px 70px 100px;
    background-color: blueviolet;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    width: 1000px;
}
