body {
  background: #211f1f;
  font-size: 2vw;
  color: aliceblue;
}

.container {
  width: 100%;
  height: 17em;
  /* border: solid 5px #e9e6e6; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.circle {
  background-color: #a23d3d;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  position: relative;
  top: -25px;
  right: -80px;
}

.recktangle {
  background-color: #a19898;
  height: 100px;
  width: 600px;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  top: 550px;
  bottom: 100px;
  right: 90px;
}