.air-mag {
  margin-top: 94px;
}
@media (width > 576px) {
  .air-mag {
    padding-bottom: 94px;
  }
  .air-mag__title {
    margin-bottom: 10px;
  }
}
@media (width <= 576px) {
  .air-mag {
    padding-bottom: 80px;
    margin-top: 60px;
  }
  .air-mag__title {
    margin-bottom: 20px;
  }
}
.air-mag__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
@media (width > 768px) {
  .air-mag__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (width <= 768px) {
  .air-mag__description {
    display: block;
  }
}
.air-mag__description::before {
  content: "";
  display: block;
  background-image: url(../icons/rectangle.svg);
  width: 131px;
  height: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transform: translateX(-13px);
      -ms-transform: translateX(-13px);
          transform: translateX(-13px);
}
@media (width <= 768px) {
  .air-mag__description::before {
    margin-bottom: 13px;
  }
}

.air-mag__wraper-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (width <= 768px) {
  .air-mag__wraper-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.air-mag__img {
  width: 100%;
}
@media (width <= 996px) {
  .air-mag__img {
    margin-top: 15px;
  }
}
.air-mag__pros-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (width > 996px) {
  .air-mag__pros-list {
    max-width: 293px;
    -webkit-transform: translateY(97px);
        -ms-transform: translateY(97px);
            transform: translateY(97px);
    gap: 40px;
  }
}
@media (width <= 996px) {
  .air-mag__pros-list {
    max-width: 275px;
    -webkit-transform: translateY(38px);
        -ms-transform: translateY(38px);
            transform: translateY(38px);
    gap: 20px;
  }
}
@media (width <= 768px) {
  .air-mag__pros-list {
    max-width: 610px;
    -webkit-transform: translateY(-34px);
        -ms-transform: translateY(-34px);
            transform: translateY(-34px);
  }
}
.air-mag__pros-item::before {
  content: "";
  background-image: url(../icons/double-checkbox-arrow.svg);
  display: block;
  margin-bottom: 5px;
  -webkit-transform: translateX(-8px);
      -ms-transform: translateX(-8px);
          transform: translateX(-8px);
  width: 45px;
  height: 33px;
}