.hero {
  background: #dddddd;
  padding-top: 80px;
}
.hero__container {
  position: relative;
  padding-block: 250px 244px;
  height: 850px;
  overflow: hidden;
  z-index: var(--layer-1);
}
@media (width <= 1300px) {
  .hero__container {
    padding-block: 100px 151px;
    height: 589px;
  }
}
/* @media (width <= 992px) {
  .hero__container {
    padding-block: 80px 121px;
    height: 389px;
  }
} */
@media (width <= 768px) {
  .hero__container {
    padding-block: 80px 121px;
    height: 389px;
  }
}
@media (width <= 650px) {
  .hero__container {
    padding-block: 60px 100px;
  }
}
@media (width <= 576px) {
  .hero__container {
    height: 392px;
    padding-block: 50px 178px;
  }
}
.hero__inner {
  position: relative;
  max-width: 556px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: var(--layer-2);
}
@media (width <= 1200px) {
  .hero__inner {
    max-width: 450px;
  }
}
@media (width <= 794px) {
  .hero__inner {
    max-width: 350px;
  }
}
@media (width <= 768px) {
  .hero__inner {
    max-width: 363px;
  }
}
@media (width <= 650px) {
  .hero__inner {
    max-width: 300px;
  }
}
@media (width <= 576px) {
  .hero__inner {
    max-width: 290px;
  }
}
.hero__title {
  line-height: 103%;
}
@media (width <= 1300px) {
  .hero__title {
    font-size: 35px;
  }
}
@media (width <= 768px) {
  .hero__title {
    font-size: 30px;
    line-height: 100%;
  }
}
@media (width <= 576px) {
  .hero__title {
    font-size: 24px;
  }
}
.hero__text {
  padding-block: 40px 90px;
}
@media (width <= 1200px) {
  .hero__text {
    max-width: 300px;
  }
}
@media (width <= 768px) {
  .hero__text {
    font-size: 12px;
    line-height: 130%;
    max-width: 253px;
    padding-block: 20px 40px;
  }
}
@media (width <= 650px) {
  .hero__text {
    max-width: 190px;
  }
}
@media (width <= 576px) {
  .hero__text {
    line-height: 140%;
    max-width: 170px;
    padding-block: 16px 30px;
  }
}
.hero__bt-more {
  border-radius: 3px;
  padding: 15px 51px;
  color: var(--secondary-color);
  background-color: var(--accent-color);
  font-size: 24px;
  transition: background var(--transition-time);
  -webkit-transition: background var(--transition-time);
  -moz-transition: background var(--transition-time);
  -ms-transition: background var(--transition-time);
  -o-transition: background var(--transition-time);
}
@media (width <= 768px) {
  .hero__bt-more {
    font-size: 16px;
    padding: 7px 26.5px;
  }
}
@media (any-hover: hover) {
  .hero__bt-more:hover {
    background: var(--main-color);
  }
}
.hero__img {
  position: absolute;
  bottom: 0;
  right: -19%;
  max-width: 100%;
  max-height: 100%;
  z-index: var(--layer-0);
}
.hero__img img {
  object-fit: contain;
}
@media (width <= 1300px) {
  .hero__img {
    width: 750px;
    height: 589px;
    right: -15%;
  }
}
@media (width <= 996px) {
  .hero__img {
    width: 650px;
    height: 561px;
    right: -20%;
  }
}
@media (width <= 768px) {
  .hero__img {
    width: 453px;
    height: 389px;
    right: -15%;
  }
}
@media (width <= 650px) {
  .hero__img {
    width: 399px;
    height: 300px;
    right: -16%;
  }
}
@media (width <= 576px) {
  .hero__img {
    width: 319px;
    height: 274px;
  }
}
@media (width <= 390px) {
  .hero {
    position: relative;
  }
  .hero__img {
    right: -23%;
  }
}
