.page {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--main-color);
  scroll-behavior: smooth;
  scroll-padding-top: 98px;
}
.page__body {
  min-width: 375px;
  width: 100%;
  /* min-height: 200vh; */
  background-color: var(--bg-color);
}
.page__body--no-scroll {
  overflow-y: hidden;
}
.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}
img {
  object-fit: cover;
  z-index: var(--layer-negative);
}
a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--accent-color);
  outline-offset: 2px;
}

@media (width > 576px) {
  .section {
    padding-bottom: 140px;
  }
  .section-title {
    margin-bottom: 40px;
  }
}
@media (width <= 576px) {
  .section {
    padding-bottom: 80px;
  }
  .section-title {
    margin-bottom: 30px;
  }
}

.text-light,
.text-regular {
  font-size: 16px;
  line-height: 140%;
  color: var(--main-color);
}

.text-light {
  font-weight: 300;
}
.text-regular {
  font-weight: 400;
}
.title-sm,
.title-md {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}
.title-md {
  /* min 375px max 996px */
  font-size: clamp(36px, 1.344rem + 3.86vw, 60px);
}
.title-sm {
  /* min 375px max 996px */
  font-size: clamp(24px, 1.198rem + 1.29vw, 32px);
}

/* .main {
  padding-top: 60px;
} */
