@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
/* @import "footer.css"; */

/* ====================================== */
/* ====================================== */
/* ====================================== */
    /* MAIN */
/* ====================================== */
/* ====================================== */
/* ====================================== */

.main__categories {
}

.main__categories-inner {
}



.main__categories-gallery {
    margin-top: 55px;
    display: flex;
    gap: 16px;
}
.main__categories-col-1 {
    /* gap: 16px; */
}

.main__categories-col-2 {
    display: flex;
    gap: 16px;
}

.main__categories-all {
    display: flex;
    text-align: end;
    justify-content: end;
}

.main__categories-item-1{
    max-height: 472px;
    padding: 0 97px 95px 42px;
    margin-bottom: 72px;

}

.main__categories-item-1 img{
    max-width: 500px;
}
.main__categories-item-1 h3{
    position: relative;
    right: -190px;
    top: 5px;
}
.main__categories-item-1 p{
    max-width: 192px;
    margin-right: -9%;
    margin-top: 4%;
}

.main__categories-item-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 270px;
    padding-left: 42px;
}
.main__categories-item-2 img{
    max-height: 381px;
}
.main__categories-item-2 h3{
    text-align: end;
    position: relative;
    top: -2px;
    right: -129px;
}
.main__categories-item-2 p{
    margin-right: 42px;
    margin-top: 85px;
}


.main__categories-item-1,
.main__categories-item-2 {
    max-width: 639px;
    background: var(--bg-white);
    box-shadow: -1px 0px 24px 8px #09111633;
}

.main__categories-item-3, 
.main__categories-item-4 {
    background: var(--bg-white);
    box-shadow: -1px 0px 24px 8px #09111633;
    max-width: 312px;
    max-height: 792px;
    text-align: center;
}

.main__categories-item-3 img{
    max-height: 405px;
    margin-top: 144px;
}
.main__categories-item-3 h3{
    text-align: center;
    margin-top: 42px;
}
.main__categories-item-4 h3{
    text-align: center;
    margin-top: 114px;
}
.main__categories-item-3 p{
    text-align: center;
    max-width: 250px;
    margin-left: 10%;

}
.main__categories-item-4 p{
    text-align: center;
    max-width: 250px;
    margin-bottom: 50px;
    margin-left: 10%;
}
.main__categories-item-3 p{

}


.main__categories-all-2 {
    text-align: center;
    margin-top: 41px;
}


.main__categories-item-4 img{
    max-height: 467px;
}

.main__categories-title {
    font-family: var(--general-font);
    font-size: 15px;
    line-height: 19.2px;
    text-align: right;
}

.main__categories-text {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    letter-spacing: 0%;
    text-align: right;
}

/* ====================================== */

.main__goods-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    gap: 20px;
    padding: 20px;
}
.main__goods-item h5{
    font-weight: 500;
    font-size: 22px;
    line-height: 27.5px;
    text-align: left;
    padding-bottom: 9px;
}
.main__goods-item p{
    color: #4b4b4b;
    font-family: var(--general-font);
    font-size: 14px;
    line-height: 16.8px;
    text-align: left;
    max-width: 261px;
}
.main__goods-price{
    font-family: var(--general-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
}

.description-13 {
    font-size: 13px;
}

/* ====================================== */

.main__explore-inner {
}

.main__explore-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-top: 40px;
}
.main__explore-item {
    border-radius: 16px;
    background: var(--bg-grey);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main__explore-item p{
    font-size: 13px;
    line-height: 16.8px;
    margin-top: 41px;
}
.main__explore-item h5{
    font-size: 28px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 30px;
}
.main__explore-img {
    margin-top: 30px;
}

/* ====================================== */

.main__magazine-inner {
}

.main__magazine-about {
    margin-top: 40px;
    display: flex;
    gap: 36px;

}
.main__magazine-about-img {
    border-radius: 16px;
    min-width: 620px;
}
.main__magazine-about-img img{
    width: 100%;
}
.main__magazine-about-text {
    font-family: var(--general-font);
    min-width: 639px;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
}
.main__magazine-about-text p{
    padding-bottom: 40.5px;
}

.main__magazine-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 78px;
}

.main__magazine-link {
    font-family: var(--general-font);
    font-size: 24px;
    line-height: 28.8px;
}
.main__magazine-link img{
    transform: scale(1.1);
}

/* ====================================== */

.main__forms-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__forms-search {
    margin-bottom: 68px;
}
.main-about {
}
.main-title {
}

.search__input-form {
    display: flex;
    align-items: center;
}

.search__input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 650px;
    margin-top: 15px;
}
.search__input-icon {
    position: absolute; 
    left: 24px;
    top: 38%;
    transform: translateY(-50%);
    width: 20px; 
    height: 20px;
}
.search__input {
    display: block;
    background: #00000000;
    font-size: 16px;
    border: 1px solid #c5c5c5;
    border-radius: 100px;
    width: 100%;
    padding: 19px 63px;
    transition: var(--main-transition);
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.main__registration {
    max-width: 935px;
    width: 100%;
    padding: 43px 0;
    max-height: 450px;
    background: #dce5e2;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__registration-text {
    font-size: 16px;
}

.main__forms-img {
    margin-top: 19px;
}

.search__input-optionts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 7px 7px;
    max-width: 600px;
}
.search__input-item {
    cursor: pointer;
    font-family: var(--general-font);
    font-size: 14px;
    line-height: 16.8px;
    padding: 12px 22px;
    border: 1px solid #c5c5c5;
    border-radius: 200px;
    background: rgb(255, 255, 255);
}

.main__email-form {
}
.input-group {
    max-width: 400px;
    display: flex;
    background: #00000000;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, #dce5e2 71%, #000000 71%);
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 100px;
    width: 100%;
    padding: 15px 164px 15px 19px;
    /* position: relative; */
    margin-bottom: 20px;
    cursor: pointer;
}

.main__email-input {
    text-align: start;
    background: transparent;
}

.main__email-button{
    background: transparent;
    color: var(--bg-grey);
    position: relative;
    right: -131px;
}

/* ====================================== */
/* ====================================== */
/* ====================================== */
    /* FOOTER */
/* ====================================== */
/* ====================================== */
/* ====================================== */

.footer {
    background: #f8f9fa;
    border-top: 1px solid #c5c5c5;
}

.footer__inner {
}
.footer__nav {
    padding: 44px 73px 78px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 28px;
}
.footer__nav-col-1 {
}
.footer__nav-item {
    margin-bottom: 12px;
}
.footer__nav-item h3{
    margin-bottom: 19px;
}
.footer__logo {
    margin-bottom: 26px;
}
.footer__text {
    max-width: 304px;
    font-family: var(--general-font);
    font-size: 16px;
    line-height: 19.2px;
}
.footer__nav-col {

}
.footer__nav-title {
    font-size: 22px;
    font-weight: 500;
    line-height: 27.5px;
}
.footer__nav-link {
    font-family: var(--general-font);
    font-size: 17px;
    line-height: 21.6px;
}


