* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
}

.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
}

.header {
  background-color: rgb(206, 128, 128);
  min-height: 100px;
}

.aside {
  background-color: #c7c789;
}

.main {
  background-color: #a1dd91;
  padding-top: 30px;
  padding-bottom: 30px;
}

.article {
  background-color: #e1b287;
  min-height: 200px;
}

.footer {
  background-color: #95a0d5;
  min-height: 250px;
}

/* ==================HOME WORK ===================== */

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px 250px 22px 250px;
}
.header {
  grid-column: 1 / 12 span;
}
.aside {
  grid-column: 1 / 2 span;
  grid-row: 2 / 4 span;
}
.main {
  grid-column: 3 / 12 span;
  grid-row: 2 / 4 span;
}
.main .container {
  max-width: 928px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-template-rows: 250px 250px;
  gap: 10px;
}
.footer {
  grid-column: 1 / 12 span;
  grid-row: 13;
}

/* ===========MEDIA============ */
@media (width <= 1200px) {
  .main {
    grid-column: 4 / 12 span;
    grid-row: 2 / 4 span;
  }
  .aside {
    grid-column: 1 / 4 span;
    grid-row: 2 / 4 span;
  }
}
@media (width <= 768px) {
  .main {
    grid-column: 1 / 12 span;
    grid-row: 2 / 4 span;
  }
  .aside {
    display: none;
  }
}
